@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using MyDigitalCv.ViewModels;
@model ChangePasswordViewModel

<form method="post" asp-controller="Account" asp-action="ChangePassword">
	<div class="card col-5 mx-auto">
		<div class="card-header">Password change form</div>
		<div class="card-body">
			<div asp-validation-summary="All"></div>
			<ul class="m-2">
				<li>
					<label asp-for="OldPassword"></label>
					<input type="password" class="form-control" asp-for="OldPassword" placeholder="old password" />
					<span asp-validation-for="OldPassword"></span>
				</li>
				<li>
					<label asp-for="NewPassword"></label>
					<input type="password" class="form-control" asp-for="NewPassword" placeholder="new password" />
					<span asp-validation-for="OldPassword"></span>
				</li>
				<li>
					<label asp-for="ConfirmPassword"></label>
					<input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="confirm password" />
					<span asp-validation-for="ConfirmPassword"></span>
				</li>
			</ul>
			<div class="btn-group m-3 float-start">
			<button class="btn btn-outline-danger" type="submit">Apply changes</button>
			<a class="btn btn-outline-secondary" asp-controller="User" asp-action="Detail">Back to profile</a>
			</div>
		</div>
	</div>
</form>